#myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(153, 153, 255, 0.4);
    z-index: 1;
}

#heading{
    margin-top: 0px;
    text-align: center;
}

.content {
    position: relative;
    z-index: 3;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#box {
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: all 0.3s ease;
    z-index: 2; 
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    transform-origin: center;
}

body {
    overflow: hidden;
}